.nav {
    display: none;
}

.mobileMenu {
    display: block;
    width: 100%;
    background: transparent;
    text-align: right;
    padding-top: 35px;
}

.mobileMenu a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;   
}
.menuNav {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 60;
    display: none;
}

.menuNav li {
    padding: 12px;
    color: #FFF;
    list-style: none;
    text-align: left;
    font-size: 20px;
    background: rgba(39, 37, 59, 1);
}

.toggle {
    display: block;
}